@keyframes scrolldown {
    0% {
        padding-bottom: 30px;
    }

    25% {
        padding-bottom: 30px;
    }

    75% {
        padding-bottom: 0;
    }

    100% {
        padding-bottom: 0;
    }
}

main i {
    animation-name: scrolldown;
    animation-iteration-count: infinite;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-timing-function: linear;
}